        <style type="text/css">
        body, h1, h2, p, ul, li {
            margin: 0;
            padding: 0;
        }

        /* Gaya header */
        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1em 0;
        }

        /* Gaya sidebar */
        aside {
            background-color: #007bff; /* Warna biru pada sidebar */
            width: 200px;
            float: left;
            height: 160vh;
        }

        aside ul {
            list-style-type: none;
            padding: 0;
        }

        aside ul li {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        aside ul li a {
            text-decoration: none;
            color: #fff; /* Warna teks putih */
            display: block;
        }

        aside ul li:hover {
            background-color: #0056b3; /* Warna biru saat hover */
        }

        /* Gaya konten utama */
        main {
            margin-left: 220px; /* Sesuaikan dengan lebar sidebar */
            padding: 20px;
            background-color: #f4f4f4; /* Latar belakang abu-abu pada konten utama */
        }

        section {
            margin-bottom: 20px;
        }

        section:last-child {
            margin-bottom: 0; /* Menghapus margin bawah terakhir */
        }

        /* Gaya footer */
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1em 0;
            clear: both;
        }

        /* Tampilan responsif untuk layar yang lebih kecil */
        @media (max-width: 768px) {
            aside {
                width: 100%;
                float: none;
                height: auto;
            }

            main {
                margin-left: 0;
            }
        }
        /* Gaya untuk grafik */
        canvas {
            max-width: 70%; /* Maksimum lebar grafik */
            height: 1%; /* Tinggi disesuaikan agar proporsi tetap */
        }

        /* Gaya untuk gambar produk */
        .product {
            text-align: center;
        }

        .product img {
            width: 300px; /* Atur lebar gambar */
            height: auto; /* Sesuaikan tinggi agar proporsi gambar tetap */
            margin-bottom: 10px; /* Spasi bawah */
        }
    </style>